<div class="container" *ngIf="countries">
  <div class="row mt-3 justify-content-center">
    <h1 class="region-name">{{region | uppercase}}</h1>
  </div>
  <img class="img-fluid d-block mx-auto" src="../../assets/{{region}}-header.png" [ngClass]="{'mt-3': region == 'americas' || region == 'oceania'}" style="height:50vh">

  <div class="row justify-content-center my-5">
    <div class="col text-center">
      <div class="row">
        <div class="col-12 display-4">{{countries.length}}</div>
        <small class="col-12">Number of countries</small>
      </div>
    </div>
    <div class="col text-center">
      <div class="row">
        <div class="col-12 display-4">{{languages.size}}</div>
        <small class="col-12">Languages spoken</small>
      </div>
    </div>
    <div class="col text-center">
      <div class="row">
        <div class="col-12 display-4">{{population | numberToMB}}</div>
        <small class="col-12">Overall population</small>
      </div>
    </div>
    <div class="col text-center">
      <div class="row">
        <div class="col-12 display-4">{{highestPopulationCountry.population | numberToMB }}</div>
        <div class="col-12">{{highestPopulationCountry.name}}</div>
        <small class="col-12">Highest population country</small>
      </div>
    </div>
    <div class="col text-center">
      <div class="row">
        <div class="col-12 display-4">{{lowestPopulationCountry.population | numberToMB }}</div>
        <div class="col-12">{{lowestPopulationCountry.name}}</div>
        <small class="col-12">Lowest population country</small>
      </div>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-12">
      <h2>Languages</h2>
    </div>
    <div class="col-auto lead" *ngFor="let lang of languages">
      {{lang}}
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12">
      <h2>Countries</h2>
    </div>
    <div class="col-auto" *ngFor="let country of countries">
      <div class="card my-3" style="width: 18rem;" [routerLink]="['/country',country.alpha3Code]">
        <img class="card-img-top" src="{{country.flag}}" alt="Card image cap" style="height: 22vh;">
        <div class="card-body">
          <h5 class="card-title mb-1">{{country.name}} ({{country.alpha3Code}})</h5>
          <p class="card-text">
            <small>
              <b>Capital:</b> {{country.capital}}
              <br>
              <b>Population:</b> {{country.population}}
              <br>
              <b>Currency:</b> {{country.currencies[0].name}}
              <br>
              <b>Languages:</b>
              <span *ngFor="let language of country.languages"> {{language.name}} </span>
              <br>
            </small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>