.region-name{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-size: 10rem;
    letter-spacing: -5px;
    color: lightgrey;
    z-index: -1;
    /* text-shadow: 0px 1px 2px rgba(150, 150, 150, 0.1); */
      /* background-image: url(../../assets/americas-header.png); */
      background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
      background-size: cover;
      /* filter: blur(1px); */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.filter-name{
    font-family: 'Poppins', sans-serif;
    font-size: 10rem;
    letter-spacing: -5px;
    color: lightgrey;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card{
    -webkit-box-shadow: 0px 2px 8px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 8px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 8px -4px rgba(0,0,0,0.75);  
    transition: all 0.5s ease;
    padding-bottom: 0px!important
}
.card:hover{
    -webkit-box-shadow: 0px 2px 15px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 15px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 15px -4px rgba(0,0,0,0.75);  
}
.card-text{
    line-height: 1rem
}
.item-title{
    color: #008793;
    font-weight: 500
}
.card .lead{
    font-weight: 500
}
.card .details-row{
    font-size: small
}
.card:hover button{
    display: block
}
.card button{
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: none;
    padding: 0.1rem 1rem;
    border: 1px solid lightgrey;
    color: #00bf72;
    text-transform: uppercase;
    font-size: small;
    letter-spacing: 1px;
    font-weight: 500;
    transition: all 0.5s ease
}
.card button:hover{
    border: 1px solid #00bf72;
    background: #00bf72;
    color: #fff;
    font-weight: 500
}
.country-code-col::before{
  content: "";
  width: 100%;
  position: absolute;
  top: 55%;
  right: 0;
  border-top: 1px solid lightgrey;
  z-index: 1
}
.country-code-col > small{
    background: white;
    color: #00bf72;
    font-weight: bold;
    z-index: 2;
    position: relative;
    padding: 0rem 1rem

}
h2{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin-top: 1rem;
    word-spacing: 0.5rem 
}
.search-input small{
    font-weight: 700;
    letter-spacing: 1px
}
.search-input input{
    border: none;
    border-bottom: 1px solid black;
    width: 100%
}
.search-input input:focus{
    outline: none
}
.search-input{
    border: 2px solid transparent;
    padding-bottom: 0.3rem;
    line-height: 1rem
}
.search-input.active{
    background: whitesmoke
}
.search-input.active input{
    background: none
}
.sort small{
    font-weight: 700;
    letter-spacing: 1px
}
.sort select{
    border: none;
    border-bottom: 1px solid black;
    width: 100%
}
.sort{
    border: 2px solid transparent;
    padding-bottom: 0.3rem;
    line-height: 1rem
}
.sort select:focus{
    outline: none
}
.sort.active{
    background: whitesmoke
}
.sort.active select{
    background: none;
}
.hover:hover{
    color: #051937;
    background: whitesmoke;
    border-radius: 15px;
    cursor: pointer;
}
.reset-btn{
    background:none;
    border: 1px solid black;
    color: black;
    text-transform: uppercase;
    font-size: small;
    font-weight: bold;
    padding: 0.4rem 0.5rem;
    border-radius: 2px;
    transition: all 0.1s ease
}
.reset-btn:focus{
    outline: none;
}
.reset-btn:hover{
    background: black;
    color: white
}