h2{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin-top: 1rem 
}
.flag{
    position: relative;
    bottom: -15%;
    -webkit-box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.75);
}
.name{
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    color: #008793;
    position: relative;
    top: 45%;
    background: white;
    padding: 0px 20px
}
.name-row{
    position: relative;
}
.name-row::before{
    content: "";
    width: 75vw;
    height: 1.5px;
    position: absolute;
    bottom: 1rem; 
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    z-index: -1;
}
.country-name{
    font-size: 2rem;
    padding: 0;
    
}
/* .country-name:before{
    content: "";
    width: 100%;
    height: 80%;
    position: absolute;
    top: 0;
} */
.header{
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    -webkit-box-shadow: inset 0px -37px 172px -72px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px -37px 172px -72px rgba(0,0,0,0.75);
box-shadow: inset 0px -37px 172px -72px rgba(0,0,0,0.75);
}

.number{
    font-size: 1.3rem;
    font-weight: 500
}
fa-icon{
    font-size: 2rem;
    color: #008793;
}
.currency-symbol{
    font-size: 2rem;
    color: #008793;
    font-weight: 700;
}
.region-img{
    filter: grayscale(0.5);
    transform: scale(0.9)
}
.region-img-container{
    /* border: 1px solid black; */
    border-radius: 100%;
    padding: 2rem 1rem;
    background-image: linear-gradient(to right top, #72b6f9, #78c1fb, #81cbfd, #8cd5fe, #9adfff);
    /* background-image: linear-gradient(to right top, #60a6eb, #57abf1, #4cb0f6, #3eb6fb, #2abbff); */
}
.border-flag{
    height: 10vh;
    -webkit-box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.75);
box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.75);
}
.low-line-height{
    line-height: 1.2rem
}
hr{
    margin: 0.2rem
}
.hover:hover{
    cursor: pointer;
    color: #00bf72
}
.hover:focus{
    outline: none
}
.lang-name{
    background: whitesmoke;
    padding: 0rem  1rem 0.2rem;
    border-radius: 10px
}
.border-col{
    transition: all 0.3s ease
}
.border-col:focus{
    outline: none
}
.border-col:hover{
    cursor: pointer;
    color: #00bf72
}
.bloc-row{
    cursor: pointer
}
.bloc-row:focus{
    outline: none
}
.bloc-row:hover .acronym{
    color: #00bf72
}


/* Media queries */

/*extra small devices*/
@media screen and (max-width: 575px) {    

}

/*small devices*/
@media screen and (min-width: 576px) and (max-width: 767px) {
    
 }
 
 /*medium devices*/
 @media screen and (min-width: 768px) and (max-width: 991px) {
   
 }
 
 /*large devices*/
 @media screen and (min-width: 992px) and (max-width: 1199px) {
    
 }
  
 @media screen and (min-width: 1200px) {
 
 }