nav{
    background: rgba(255,255,255,0.95)!important;
    -webkit-box-shadow: 0px 2px 12px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 12px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 12px -3px rgba(0,0,0,0.75);
    border-top: 5px solid #00bf72
}
nav .active a{
    color: #00bf72;
    font-weight: 500    
}
.search-icon{
    position: relative;
    right: 15%;
    color: lightgrey
}
@media screen and (max-width: 990px) {    
    .search-icon{
        right: 7%;
    }
}
.search-icon:hover{
    color: #00bf72;
    cursor: pointer;
}
input{
    border: 1px solid lightgrey;
    padding: 0.5rem 1rem;
    color: #00bf72
}
input:focus{
    outline: 0.8px solid #00bf72
}
.search-result-container{
    position: fixed;
    z-index: 5;
    max-height: 80vh;
    overflow-y: auto
}
.search-result-item:hover{
    cursor: pointer;
    background: whitesmoke
}
.search-close-button{
    cursor: pointer;
    color: lightgrey;
    transition: all 0.5s ease
}
.search-close-button:hover{
    color: grey
}
footer{
    margin-top: 10rem;
    padding-top: 1rem;
    background: #004d7a;
    color: white;
    position: relative
}
footer:before{
    content: "";
    height: 15vh;
    width: 90vw;
    position: absolute;
    top: -8vh;
    z-index: -1;
    background: #00bf72;
    transform: rotate(3.8deg) skewX(3.8deg);
    -webkit-box-shadow: 0px 3px 22px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 22px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 22px -3px rgba(0,0,0,0.75);
}
footer::after{
    content: "";
    height: 20vh;
    width: 100vw;
    position: absolute;
    top: -8vh;
    right: 0;
    z-index: -1;
    background: #004d7a;
    transform: rotate(-3.8deg) skewX(-3.8deg);
    -webkit-box-shadow: 0px 3px 26px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 26px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 26px -3px rgba(0,0,0,0.75);
}
.footer-link{
    text-decoration: none;
    color: #00bf72
}
.footer-link:hover{
    color: #47d49c
}
.footer-icon{
    color: #00bf72;
    font-size: 1.8rem
}
