<!-- navbar -->
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/home']">Country Deatils</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [ngClass]="{active: url == '/home'}">
        <a class="nav-link" [routerLink]="['/home']">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item" *ngFor="let region of ['Americas','Europe','Asia','Africa','Oceania']" [ngClass]="{active: url && url.includes(region | lowercase) }">
        <a class="nav-link" [routerLink]="['/countries','region',region | lowercase]">{{region}}</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <input class="mr-sm-2" type="search" placeholder="Search country" aria-label="Search" [(ngModel)]="searchInput" (keyup.enter)="getCountry(searchInput)">
      <fa-icon class="search-icon" [icon]="faSearch" (click)="getCountry(searchInput)"></fa-icon>
    </div>
  </div>
</nav>
<!-- end navbar -->

<!-- navbar search results container -->
<div class="container-fluid search-result-container" *ngIf="search">
  <div class="row justify-content-end">
    <div class="col-5 col-md-3 card">
      <div class="row justify-content-between align-items-center">
        <h2 class="col-auto lead pt-2">Results</h2>
        <fa-icon class="col-auto search-close-button" [icon]="faTimesCircle" (click)="search=searchInput=undefined"></fa-icon>
      </div>
      <div class="row py-2 align-items-center search-result-item" *ngFor="let country of search" [routerLink]="['/country',country.alpha3Code]"
        (click)="search=undefined">
        <div class="col-12 col-md-3">
          <img class="img-fluid" src="{{country.flag}}">
        </div>
        <div class="col-12 col-md-9">{{country.name}}</div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<!-- footer -->
<footer>
  <div class="container">
    <div class="row py-4">
      <div class="col-12 col-md mb-4 mb-md-0 text-center text-md-left">
        <div class="row">
          <span class="col-12">Made using REST Countries API</span>
          <div class="col-12">
            <a class="footer-link" href="https://restcountries.eu" target="blank">restcountries.eu</a>
          </div>
          <span class="col-12">Github repository</span>
          <div class="col-12">
            <a class="footer-link" href="https://github.com/nitin095/Country-Details" target="blank">github.com/nitin095/Country-Details</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3 mb-4 mb-md-0 text-center">
        <div class="row">
          <div class="col-12">
            <fa-icon class="mr-2 footer-icon" [icon]="faEnvelope"></fa-icon>
          </div>
          <span class="col-12 lead">nitinshokeen9@gmail.com</span>
        </div>
      </div>
      <div class="col-12 col-md-3 text-center">
        <div class="row">
          <div class="col-12">
            <a href="https://github.com/nitin095" target="blank">
              <fa-icon class="mr-2 footer-icon" [icon]="faGithubSquare"></fa-icon>
            </a>
          </div>
          <div class="col-12 lead">github.com/nitin095</div>
        </div>
      </div>
    </div>
    <div class="row py-1">
      <small class="col text-center">&copy; 2018 Nitin Shokeen</small>
    </div>
  </div>
</footer>