@import url('https://fonts.googleapis.com/css?family=Poppins:800');

h2{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin-top: 1rem;
    word-spacing: 4px 
}
.cover-logo{
    height: 100%;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: -6px;
    color: whitesmoke;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
.cover-logo::after{
    content: "";
    height: 100%;
    width: 45%;
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
    transform: skewX(-23deg) translateX(50%);
    -webkit-box-shadow: inset 13px -1px 28px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 13px -1px 28px -12px rgba(0,0,0,0.75);
    box-shadow: inset 13px -1px 28px -12px rgba(0,0,0,0.75);
}
.cover-icon{
    font-size: 3rem;
}
.search-icon{
    position: relative;
    right: 5%;
    color: grey;
    transition: all 0.5s ease
}
.cover-text{
    font-size: 1.8rem;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400
}
.search-icon:hover{
    color: #004d7a;
    cursor: pointer;
    transform: scale(1.1)
}
.search-type{
    cursor: pointer;
    padding: 0rem 0.5rem;
    color: grey;
    padding: 0.15rem 0.5rem
}
.search-type:hover{
    color: #00bf72;
    transition: all 0.3s ease
}
.search-type.active{
    color: #004d7a;
    background: #e7edee;
    border-radius: 10px;
}
.header-input{
    height: 8vh;
    border: 0.1px solid whitesmoke;
    -webkit-box-shadow: 0px 2px 10px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 10px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 10px -4px rgba(0,0,0,0.75);
    transition: all 0.3s ease
}
.header-input:focus{
    outline: none
}
.header-input:hover{
    -webkit-box-shadow: 0px 2px 12px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 12px -3px rgba(0,0,0,0.75);
box-shadow: 0px 2px 12px -3px rgba(0,0,0,0.75);
}
.search-results-container .card:hover{
    cursor: default;
    -webkit-box-shadow: 0px 2px 12px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 12px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 12px -3px rgba(0,0,0,0.75);
}
.map-row-md{
    height: 40vh;
    cursor: pointer;
}
.map-row-md img{
    max-height: 35vh;
}
.map-row-md:nth-child(even){
    background: whitesmoke;
}
.detail-col{
    margin-top: 1rem;
    line-height: 1.2rem
}
.detail-col span{
    /* font-size: 1rem */
    font-weight: 500
}
.detail-col fa-icon{
    font-size: 1.5rem;
    color: #008793
}
.americas-text span,.europe-text span,.africa-text span,.asia-text span,.oceania-text span{
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem
}
.americas-img,.europe-img,.africa-img,.asia-img,.oceania-img{
    filter: grayscale(1);
    transition: all 0.3s ease-in;
    cursor: pointer;
    z-index: 1;
}
.americas-img:hover + .americas-text > .americas-des{
    opacity: 1;
}
.europe-img:hover + .europe-text >.europe-des{
    opacity: 1;
}
.africa-img:hover + .africa-text > .africa-des{
    opacity: 1;
}
.asia-img:hover + .asia-text > .asia-des{
    opacity: 1;
} 
.oceania-img:hover + .oceania-text > .oceania-des{
    opacity: 1;
}
.americas-img:hover,.europe-img:hover,.africa-img:hover,.asia-img:hover,.oceania-img:hover{
    filter: drop-shadow(0 0 0.2rem grey) 
}
.americas-img:focus,.europe-img:focus,.africa-img:focus,.asia-img:focus,.oceania-img:focus{
    outline: none
}
.americas-img{
    position: relative;
    left: 25%
}
.americas-text{
    position: absolute;
    top: 40%;
    left: 30%;
    color: rgb(0,170,0);
    z-index: 2
}
.americas-des{
    font-size: small;
    opacity: 0;
    width: 12vw;
    background-color: white;
    border: 1px solid rgb(0,170,0);
    padding: 1rem 0rem;
    transition: all 0.2s ease-in
}
.europe-img{
    z-index: 2;
}
.europe-text{
    position: absolute;
    top: 21%;
    left: -12%;
    color: rgb(200,55,113);
    z-index: 4
}
.europe-des{
    font-size: small;
    opacity: 0;
    width: 12vw;
    background-color: white;
    border: 1px solid rgb(200,55,113);
    padding: 1rem 0rem;
    transition: all 0.2s ease-in;
}
.africa-img{
    position: relative;
    bottom: 5%; 
    left: -2%;
    z-index: 3;
}
.africa-text{
    position: absolute;
    bottom: 25%;
    color: rgb(83,103,108);
    z-index: 3
}
.africa-des{
    font-size: small;
    opacity: 0;
    width: 12vw;
    background-color: white;
    border: 1px solid rgb(83,103,108);
    padding: 1rem 0rem;
    transition: all 0.2s ease-in
}
.asia-img{
    position: relative;
    left: -34%;
}
.asia-text{
    position: absolute;
    top: 20%;
    right: 25%;
    color: rgb(255,153,85);
    z-index: 2
}
.asia-des{
    font-size: small;
    opacity: 0;
    width: 12vw;
    background-color: white;
    border: 1px solid rgb(255,153,85);
    padding: 1rem 0rem;
    transition: all 0.2s ease-in
}
.oceania-img{
    position: relative;
    bottom: 10%;
    left: 35%;
}
.oceania-text{
    position: absolute;
    bottom: 20%;
    left: 12%;
    color: rgb(0,170,212);
    z-index: 2
}
.oceania-des{
    font-size: small;
    opacity: 0;
    width: 12vw;
    background-color: white;
    border: 1px solid rgb(0,170,212);
    padding: 1rem 0rem;
    transition: all 0.2s ease-in
}
.low-line-height{
    line-height: 0.9rem
}
.bloc-row > .card{
    -webkit-box-shadow: 0px 2px 5px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px -4px rgba(0,0,0,0.75);  
}
.bloc-row > .card:hover{
    cursor: default;
    border-color: #00bf72;
    -webkit-box-shadow: 0px 2px 10px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 10px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 10px -4px rgba(0,0,0,0.75); 
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(206, 202, 202);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(206, 202, 202);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(206, 202, 202);
}

/* Media queries */

/*extra small devices*/
@media screen and (max-width: 575px) {    
    .cover-container{
        margin-bottom: 18rem
    }
    .cover-logo::after{
        content: "";
        height: 20%;
        width: 100%;
        background: #fff;
        position: absolute;
        top: 90%;
        left: 0%;
        transform: skewY(-5deg) translateX(0%);
        -webkit-box-shadow: inset 0px 10px 28px -12px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 0px 10px 28px -12px rgba(0,0,0,0.75);
        box-shadow: inset 0px 10px 28px -12px rgba(0,0,0,0.75);
    }
    .cover-container > .row{
        height: 45vh!important;
    }
    .cover-logo .display-1{
        font-size: 4rem;
        letter-spacing: -3px;
    }
    .cover-text{
        line-height: 1.8rem;
        padding-bottom: 1rem
    }
    .header-input{
        position: relative;
        left: 2%;
    }
    .search-icon{
        position: relative;
        right: 7%;
    }
}

/*small devices*/
@media screen and (min-width: 576px) and (max-width: 767px) {
    .cover-container{
        margin-bottom: 18rem
    }
    .cover-logo::after{
        content: "";
        height: 20%;
        width: 100%;
        background: #fff;
        position: absolute;
        top: 90%;
        left: 0%;
        transform: skewY(-5deg) translateX(0%);
        -webkit-box-shadow: inset 0px 10px 28px -12px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 0px 10px 28px -12px rgba(0,0,0,0.75);
        box-shadow: inset 0px 10px 28px -12px rgba(0,0,0,0.75);
    }
 }
 
 /*medium devices*/
 @media screen and (min-width: 768px) and (max-width: 991px) {
    .cover-logo{
        -webkit-box-shadow: 3px 0px 27px -4px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 0px 27px -4px rgba(0,0,0,0.75);
        box-shadow: 3px 0px 27px -4px rgba(0,0,0,0.75);
    }
    .cover-logo::after{
        display: none
    }
    
    .cover-logo .display-1{
        font-size: 5rem;
        letter-spacing: -5px;
    }
 }
 
 /*large devices*/
 @media screen and (min-width: 992px) and (max-width: 1199px) {
    .cover-logo::after{
        content: "";
        height: 100%;
        width: 15%;
        background: #fff;
        position: absolute;
        top: 0;
        right: 0;
        transform: skewX(-5deg) translateX(50%);
        -webkit-box-shadow: inset 13px -1px 28px -12px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 13px -1px 28px -12px rgba(0,0,0,0.75);
        box-shadow: inset 13px -1px 28px -12px rgba(0,0,0,0.75);
    }
 }