@import url('https://fonts.googleapis.com/css?family=Poppins:800');

h2{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin-top: 1rem;
    word-spacing: 4px 
}
.cover-logo{
    height: 100%;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: -6px;
    color: whitesmoke;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
.cover-logo::after{
    content: "";
    height: 100%;
    width: 40%;
    background: #fff;
    /* border: 1px solid red; */
    position: absolute;
    top: 0;
    right: 0;
    transform: skewX(-25deg) translateX(50%);
    -webkit-box-shadow: inset 13px -1px 28px -12px rgba(0,0,0,0.75);
-moz-box-shadow: inset 13px -1px 28px -12px rgba(0,0,0,0.75);
box-shadow: inset 13px -1px 28px -12px rgba(0,0,0,0.75);
}
.cover-icon{
    font-size: 3rem;
}
.search-icon{
    position: relative;
    right: 5%;
    color: grey;
    transition: all 0.5s ease
}
.cover-text{
    font-size: 1.8rem;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400
}
.search-icon:hover{
    color: #004d7a;
    cursor: pointer;
    transform: scale(1.1)
}
.search-type{
    cursor: pointer;
    padding: 0rem 0.5rem;
    color: grey
}
.search-type:hover{
    color: #00bf72;
    transition: all 0.3s ease
}
.search-type.active{
    color: #004d7a;
    background: #e7edee;
    border-radius: 10px;
    padding: 0.1rem 0.5rem
}
.header-input{
    height: 8vh;
    border: 0.1px solid whitesmoke;
    -webkit-box-shadow: 0px 2px 10px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 10px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 10px -4px rgba(0,0,0,0.75);
    /* transition: all 0.3s ease */
}
.header-input:focus{
    outline: none
}
.header-input:hover{
    -webkit-box-shadow: 0px 2px 12px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 12px -3px rgba(0,0,0,0.75);
box-shadow: 0px 2px 12px -3px rgba(0,0,0,0.75);
}
.search-results-container .card:hover{
    cursor: default;
    -webkit-box-shadow: 0px 2px 12px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 12px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 12px -3px rgba(0,0,0,0.75);
}
.americas-text span,.europe-text span,.africa-text span,.asia-text span,.oceania-text span{
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    /* font-weight: 800; */
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.americas-img,.europe-img,.africa-img,.asia-img,.oceania-img{
    filter: grayscale(1);
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.americas-col:hover .americas-des{
    opacity: 1;
}

.europe-col:hover .europe-des{
    opacity: 1;
}

.africa-col:hover .africa-des{
    opacity: 1;
}

.asia-col:hover .asia-des{
    opacity: 1;
} 

.oceania-col:hover .oceania-des{
    opacity: 1;
}

.americas-img:hover,.europe-img:hover,.africa-img:hover,.asia-img:hover,.oceania-img:hover{
    filter: drop-shadow(0 0 0.2rem grey) 
}

.americas-img:focus,.europe-img:focus,.africa-img:focus,.asia-img:focus,.oceania-img:focus{
    outline: none
}

.americas-col{
    position: relative;
    /* background: red */
}
.americas-text{
    position: absolute;
    top: 45%;
    left: 0%;
    color: rgb(0,170,0);
}
.americas-des{
    font-size: small;
    opacity: 0;
    width: 12vw;
    background-color: white;
    border: 1px solid rgb(0,170,0);
    padding: 1rem 0rem;
    transition: all 0.2s ease-in
}
.europe-col{
    position: relative;
    z-index: 2;
}
.europe-text{
    position: absolute;
    top: 40%;
    left: -20%;
    color: rgb(200,55,113);
}
.europe-des{
    font-size: small;
    opacity: 0;
    width: 12vw;
    background-color: white;
    border: 1px solid rgb(200,55,113);
    padding: 1rem 0rem;
    transition: all 0.2s ease-in
}
.africa-col{
    position: relative
}
.africa-img{
    position: absolute;
    top: -100%;
    left: 10%;
    z-index: 1
}
.africa-text{
    position: absolute;
    bottom: 40%;
    color: rgb(83,103,108);
}
.africa-des{
    font-size: small;
    opacity: 0;
    width: 12vw;
    background-color: white;
    border: 1px solid rgb(83,103,108);
    padding: 1rem 0rem;
    transition: all 0.2s ease-in
}
.asia-col{
    position: relative;
}
.asia-img{
    position: relative;
    left: -10%;
}
.asia-text{
    position: absolute;
    top: 30%;
    right: 5%;
    color: rgb(255,153,85);
}
.asia-des{
    font-size: small;
    opacity: 0;
    width: 12vw;
    background-color: white;
    border: 1px solid rgb(255,153,85);
    padding: 1rem 0rem;
    transition: all 0.2s ease-in
}
.oceania-col{
    position: relative;
}
.oceania-img{
    position: relative;
    top: -30%;
    left: 10%
}
.oceania-text{
    position: absolute;
    top: -20%;
    left: -35%;
    color: rgb(0,170,212);
}
.oceania-des{
    font-size: small;
    opacity: 0;
    width: 12vw;
    background-color: white;
    border: 1px solid rgb(0,170,212);
    padding: 1rem 0rem;
    transition: all 0.2s ease-in
}

.low-line-height{
    line-height: 0.9rem
}
.bloc-row > .card{
    -webkit-box-shadow: 0px 2px 5px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px -4px rgba(0,0,0,0.75);  
}
.bloc-row > .card:hover{
    cursor: default;
    border-color: #00bf72;
    -webkit-box-shadow: 0px 2px 10px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 10px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 10px -4px rgba(0,0,0,0.75); 
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(206, 202, 202);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(206, 202, 202);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(206, 202, 202);
}