<div class="container-fluid cover-container">
  <div class="row align-items-center" style="height: 90vh">
    <div class="col-12 col-md-6 cover-logo">
      <div class="row align-items-center mx-2" style="height: 100%;">
        <div class="display-1">Country Details</div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="row justify-content-center align-items-center text-center" style="height: 100%">
        <fa-icon class="cover-icon" [icon]="faGlobe"></fa-icon>
        <div class="col-12 lead cover-text">Get details of any country in the world.</div>
        <small class="col-12">
          <div class="row justify-content-center py-1">
            <b class="text-muted col-auto">Search by: </b>
            <span class="search-type col-auto" [ngClass]="{'active': isActive('name')}" (click)="makeActive('name')">Name</span>
            <span class="search-type col-auto" [ngClass]="{'active': isActive('alpha')}" (click)="makeActive('alpha')">Country-code</span>
            <span class="search-type col-auto" [ngClass]="{'active': isActive('currency')}" (click)="makeActive('currency')">Currency</span>
            <span class="search-type col-auto" [ngClass]="{'active': isActive('lang')}" (click)="makeActive('lang')">Language</span>
            <span class="search-type col-auto" [ngClass]="{'active': isActive('capital')}" (click)="makeActive('capital')">Capital city</span>
            <span class="search-type col-auto" [ngClass]="{'active': isActive('callingcode')}" (click)="makeActive('callingcode')">Calling code</span>
          </div>
        </small>
        <input class="col-10 my-4 header-input" type="text" [(ngModel)]="searchInput" (keyup.enter)="getCountry(activeSearchType,searchInput)"
          placeholder="Search country by {{getPlaceholderText(activeSearchType)}}">
        <fa-icon class="search-icon" [icon]="faSearch" (click)="getCountry(activeSearchType,searchInput)"></fa-icon>
        <div class="col-12 my-3" *ngIf="searchResult && searchResult[0] == 'not found'">No country found!</div>
      </div>
    </div>
  </div>
</div>

<!-- search results container -->
<div id="result" class="container my-5 search-results-container">
  <div class="row align-items-center" *ngIf="searchResult" [hidden]="searchResult[0] == 'not found'">
    <div class="col-12">
      <h2>Search results</h2>
    </div>
    <div class="col-12 mb-2">
      <span class="lead">{{searchResult.length}}
        <span *ngIf="searchResult.length>1">countries</span>
        <span [hidden]="searchResult.length>1">country</span> found for {{searchText}}</span>
    </div>
    <div class="col-6 col-md-4 col-lg-3" *ngFor="let country of searchResult" style="color: gray;border-radius: 0px">
      <div class="card my-2">
        <div class="row align-items-center text-center no-gutters" [routerLink]="['/country',country.alpha3Code]">
          <div class="col-12 col-sm-auto">
            <img class="img-fluid" src="{{country.flag}}" style="height: 10vh">
          </div>
          <div class="col">
            <small class="row">
              <b class="col-12 low-line-height">{{country.name}}</b>
              <span class="col-12 text-muted">{{country.subregion}}</span>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end search results container -->

<div class="container my-5">
  <div class="row">
    <h2 class="col mt-5">Pick a region to view it's countries</h2>
  </div>

  <div class="row mt-5 map-row d-none d-md-flex">
    <div class="col-4 americas-col">
      <img class="img-fluid americas-img" [routerLink]="['/countries','region','americas']" src="assets/americas.png">
      <div class="americas-text text-center">
        <span>Americas</span>
        <div class="row americas-des">
          <div class="col-12 low-line-height">
            <b>Countries</b>
            <br>57</div>
          <div class="col-12 low-line-height my-1">
            <b>Area</b>
            <br>42,549,000 km2</div>
          <div class="col-12 low-line-height">
            <b>Population</b>
            <br>1,001,559,000 (2016)</div>
        </div>
      </div>
    </div>


    <div class="col-3 europe-col" style="z-index: 2;">
      <img class="img-fluid europe-img" [routerLink]="['/countries','region','europe']" src="assets/europe.png">
      <div class="europe-text text-center">
        <span>Europe</span>
        <div class="row europe-des">
          <div class="col-12 low-line-height">
            <b>Countries</b>
            <br>53</div>
          <div class="col-12 low-line-height my-1">
            <b>Area</b>
            <br>10,180,000 km2</div>
          <div class="col-12 low-line-height">
            <b>Population</b>
            <br>741,447,158 (2016)</div>
        </div>
      </div>
      <img class="img-fluid africa-img" [routerLink]="['/countries','region','africa']" src="./../../assets/africa.png">
      <div class="africa-text text-center">
        <div class="row africa-des">
          <div class="col-12 low-line-height">
            <b>Countries</b>
            <br>60</div>
          <div class="col-12 low-line-height my-1">
            <b>Area</b>
            <br>30,370,000 km2</div>
          <div class="col-12 low-line-height">
            <b>Population</b>
            <br>1,225,080,510 (2016)</div>
        </div>
        <span>Africa</span>
      </div>

    </div>
    <div class="col-5 asia-col">
      <img class="img-fluid asia-img" [routerLink]="['/countries','region','asia']" src="./../../assets/asia.png">
      <div class="asia-text text-center">
        <span>Asia</span>
        <div class="row asia-des">
          <div class="col-12 low-line-height">
            <b>Countries</b>
            <br>50</div>
          <div class="col-12 low-line-height my-1">
            <b>Area</b>
            <br> 44,579,000 km2</div>
          <div class="col-12 low-line-height">
            <b>Population</b>
            <br> 4,462,676,731 (2016)</div>
        </div>
      </div>
      <img class="img-fluid oceania-img" [routerLink]="['/countries','region','oceania']" src="./../../assets/oceania.png">
      <div class="oceania-text text-center">
        <div class="row oceania-des">
          <div class="col-12 low-line-height">
            <b>Countries</b>
            <br>27</div>
          <div class="col-12 low-line-height my-1">
            <b>Area</b>
            <br>8,525,989 km2</div>
          <div class="col-12 low-line-height">
            <b>Population</b>
            <br>40,117,432 (2016)</div>
        </div>
        <span>Oceania</span>
      </div>

    </div>

  </div>

  <div class="row align-items-center map-row-md text-center mt-5 d-md-none" [routerLink]="['/countries','region','asia']">
    <div class="col">
      <div class="row justify-content-center">
        <span class="col-12 display-4">Asia</span>
        <div class="col-6 detail-col">
          <div class="row">
            <div class="col-12">
              <fa-icon [icon]="faUsers"></fa-icon>
            </div>
            <div class="col-12">Population</div>
            <span class="col-12 pt-1">4.39B</span>
          </div>
        </div>
        <div class="col-6 detail-col">
          <div class="row">
            <div class="col-12">
              <fa-icon [icon]="faMap"></fa-icon>
            </div>
            <div class="col-12">Area</div>
            <span class="col-12 pt-1">44.58M Km
              <sup>2</sup>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <img class="img-fluid" src="./../../assets/asia.png">
    </div>
  </div>
  <div class="row align-items-center map-row-md text-center mt-5 d-md-none" [routerLink]="['/countries','region','africa']">
    <div class="col">
      <img class="img-fluid" src="./../../assets/africa.png">
    </div>
    <div class="col">
      <div class="row justify-content-center">
        <div class="col-12 display-4">Africa</div>
        <div class="col-6 detail-col">
          <div class="row">
            <div class="col-12">
              <fa-icon [icon]="faUsers"></fa-icon>
            </div>
            <div class="col-12">Population</div>
            <span class="col-12 pt-1">1.19B</span>
          </div>
        </div>
        <div class="col-6 detail-col">
          <div class="row">
            <div class="col-12">
              <fa-icon [icon]="faMap"></fa-icon>
            </div>
            <div class="col-12">Area</div>
            <span class="col-12 pt-1">30.3M Km
              <sup>2</sup>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row align-items-center map-row-md text-center mt-5 d-md-none" [routerLink]="['/countries','region','europe']">
    <div class="col">
      <div class="row justify-content-center">
        <div class="col-12 display-4">Europe</div>
        <div class="col-6 detail-col">
          <div class="row">
            <div class="col-12">
              <fa-icon [icon]="faUsers"></fa-icon>
            </div>
            <div class="col-12">Population</div>
            <span class="col-12 pt-1">747M</span>
          </div>
        </div>
        <div class="col-6 detail-col">
          <div class="row">
            <div class="col-12">
              <fa-icon [icon]="faMap"></fa-icon>
            </div>
            <div class="col-12">Area</div>
            <span class="col-12 pt-1">10.18M Km
              <sup>2</sup>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <img class="img-fluid" src="./../../assets/europe.png">
    </div>
  </div>
  <div class="row align-items-center map-row-md text-center mt-5 d-md-none" [routerLink]="['/countries','region','americas']">
    <div class="col">
      <img class="img-fluid" src="./../../assets/americas.png">
    </div>
    <div class="col">
      <div class="row justify-content-center">
        <div class="col-12 display-4">Americas</div>
        <div class="col-6 detail-col">
          <div class="row">
            <div class="col-12">
              <fa-icon [icon]="faUsers"></fa-icon>
            </div>
            <div class="col-12">Population</div>
            <span class="col-12 pt-1">990M</span>
          </div>
        </div>
        <div class="col-6 detail-col">
          <div class="row">
            <div class="col-12">
              <fa-icon [icon]="faMap"></fa-icon>
            </div>
            <div class="col-12">Area</div>
            <span class="col-12 pt-1">42.55M Km
              <sup>2</sup>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row align-items-center map-row-md text-center mt-5 d-md-none" [routerLink]="['/countries','region','oceania']">
    <div class="col">
      <div class="row justify-content-center">
        <div class="col-12 display-4">Ocenia</div>
        <div class="col-6 detail-col">
          <div class="row">
            <div class="col-12">
              <fa-icon [icon]="faUsers"></fa-icon>
            </div>
            <div class="col-12">Population</div>
            <span class="col-12 pt-1">40.2M</span>
          </div>
        </div>
        <div class="col-6 detail-col">
          <div class="row">
            <div class="col-12">
              <fa-icon [icon]="faMap"></fa-icon>
            </div>
            <div class="col-12">Area</div>
            <span class="col-12 pt-1">8.53M Km
              <sup>2</sup>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <img class="img-fluid" src="./../../assets/oceania.png">
    </div>
  </div>

</div>
<!-- end container -->

<div class="container my-5">
  <div class="row">
    <h2 class="col mt-5">Countries by regional bloc</h2>
  </div>
  <div class="row bloc-row">

    <div class="card m-3">
      <div class="card-body" [routerLink]="['/countries','regionalbloc','EU']">
        <h5 class="card-title mb-1">EU</h5>
        <p class="card-text">(European Union)</p>
      </div>
    </div>

    <div class="card m-3">
      <div class="card-body" [routerLink]="['/countries','regionalbloc','EFTA']">
        <h5 class="card-title mb-1">EFTA</h5>
        <p class="card-text">(European Free Trade Association)</p>
      </div>
    </div>

    <div class="card m-3">
      <div class="card-body" [routerLink]="['/countries','regionalbloc','CARICOM']">
        <h5 class="card-title mb-1">CARICOM</h5>
        <p class="card-text">(Caribbean Community)</p>
      </div>
    </div>

    <div class="card m-3">
      <div class="card-body" [routerLink]="['/countries','regionalbloc','PA']">
        <h5 class="card-title mb-1">PA</h5>
        <p class="card-text">(Pacific Alliance)</p>
      </div>
    </div>

    <div class="card m-3">
      <div class="card-body" [routerLink]="['/countries','regionalbloc','AU']">
        <h5 class="card-title mb-1">AU</h5>
        <p class="card-text">(African Union)</p>
      </div>
    </div>

    <div class="card m-3">
      <div class="card-body" [routerLink]="['/countries','regionalbloc','USAN']">
        <h5 class="card-title mb-1">USAN</h5>
        <p class="card-text">(Union of South American Nations)</p>
      </div>
    </div>

    <div class="card m-3">
      <div class="card-body" [routerLink]="['/countries','regionalbloc','EEU']">
        <h5 class="card-title mb-1">EEU</h5>
        <p class="card-text">(Eurasian Economic Union)</p>
      </div>
    </div>

    <div class="card m-3">
      <div class="card-body" [routerLink]="['/countries','regionalbloc','AL']">
        <h5 class="card-title mb-1">AL</h5>
        <p class="card-text">(Arab League)</p>
      </div>
    </div>

    <div class="card m-3">
      <div class="card-body" [routerLink]="['/countries','regionalbloc','ASEAN']">
        <h5 class="card-title mb-1">ASEAN</h5>
        <p class="card-text">(Association of Southeast Asian Nations)</p>
      </div>
    </div>

    <div class="card m-3">
      <div class="card-body" [routerLink]="['/countries','regionalbloc','CIAS']">
        <h5 class="card-title mb-1">CIAS</h5>
        <p class="card-text">(Central American Integration System)</p>
      </div>
    </div>

    <div class="card m-3">
      <div class="card-body" [routerLink]="['/countries','regionalbloc','CEFTA']">
        <h5 class="card-title mb-1">CEFTA</h5>
        <p class="card-text">(Central European Free Trade Agreement)</p>
      </div>
    </div>

    <div class="card m-3">
      <div class="card-body" [routerLink]="['/countries','regionalbloc','NAFTA']">
        <h5 class="card-title mb-1">NAFTA</h5>
        <p class="card-text">(North American Free Trade Agreement)</p>
      </div>
    </div>

    <div class="card m-3">
      <div class="card-body" [routerLink]="['/countries','regionalbloc','SAARC']">
        <h5 class="card-title mb-1">SAARC</h5>
        <p class="card-text">(South Asian Association for Regional Cooperation)</p>
      </div>
    </div>

  </div>
  <!-- end row -->
</div>
<!-- end container -->