<div class="container">
  <!-- <div class="row">
        <div class="col">
          <div class="display-4">All Regions</div>
        </div>
      </div> -->

  <div class="row mt-5">
    <div class="col-4 americas-col">
      <img class="img-fluid americas-img" [routerLink]="['/countries','americas']" src="../../assets/americas.png">
      <div class="americas-text text-center">
        <span>Americas</span>
        <div class="row americas-des">
          <div class="col-12 low-line-height">
            <b>Countries</b>
            <br>35</div>
          <div class="col-12 low-line-height my-1">
            <b>Area</b>
            <br>42,549,000 km2</div>
          <div class="col-12 low-line-height">
            <b>Population</b>
            <br>1,001,559,000 (2016)</div>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col-4 europe-col">
          <img class="img-fluid europe-img" [routerLink]="['/countries','europe']" src="../../assets/europe.png">
          <div class="europe-text text-center">
            <span>Europe</span>
            <div class="row europe-des">
              <div class="col-12 low-line-height">
                <b>Countries</b>
                <br>56</div>
              <div class="col-12 low-line-height my-1">
                <b>Area</b>
                <br>10,180,000 km2</div>
              <div class="col-12 low-line-height">
                <b>Population</b>
                <br>741,447,158 (2016)</div>
            </div>
          </div>
        </div>
        <div class="col-8 asia-col">
          <img class="img-fluid asia-img" [routerLink]="['/countries','asia']" src="../../assets/asia.png">
          <div class="asia-text text-center">
            <span>Asia</span>
            <div class="row asia-des">
              <div class="col-12 low-line-height">
                <b>Countries</b>
                <br> 29</div>
              <div class="col-12 low-line-height my-1">
                <b>Area</b>
                <br> 44,579,000 km2</div>
              <div class="col-12 low-line-height">
                <b>Population</b>
                <br> 4,462,676,731 (2016)</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-8 africa-col">
          <img class="img-fluid africa-img" [routerLink]="['/countries','africa']" src="../../assets/africa.png">
          <div class="africa-text text-center">
            <div class="row africa-des">
              <div class="col-12 low-line-height">
                <b>Countries</b>
                <br>54</div>
              <div class="col-12 low-line-height my-1">
                <b>Area</b>
                <br>30,370,000 km2</div>
              <div class="col-12 low-line-height">
                <b>Population</b>
                <br>1,225,080,510 (2016)</div>
            </div>
            <span>Africa</span>
          </div>
        </div>
        <div class="col-4 oceania-col">
          <img class="img-fluid oceania-img" [routerLink]="['/countries','oceania']" src="../../assets/ocenia.png">
          <div class="oceania-text text-center">
            <div class="row oceania-des">
              <div class="col-12 low-line-height">
                <b>Countries</b>
                <br>18</div>
              <div class="col-12 low-line-height my-1">
                <b>Area</b>
                <br>8,525,989 km2</div>
              <div class="col-12 low-line-height">
                <b>Population</b>
                <br>40,117,432 (2016)</div>
            </div>
            <span>Oceania</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row align-items-center text-center mt-5">
    <div class="col">
      <div class="display-1">Asia</div>
    </div>
    <div class="col">
      <img class="img-fluid" src="../../assets/asia.png">
    </div>
  </div>
  <div class="row align-items-center text-center mt-5">
    <div class="col">
      <div class="display-1">Africa</div>
    </div>
    <div class="col">
      <img class="img-fluid" src="../../assets/africa.png">
    </div>
  </div>
  <div class="row align-items-center text-center mt-5">
    <div class="col">
      <div class="display-1">Europe</div>
    </div>
    <div class="col">
      <img class="img-fluid" src="../../assets/europe.png">
    </div>
  </div>
  <div class="row align-items-center text-center mt-5">
    <div class="col">
      <div class="display-1">Americas</div>
    </div>
    <div class="col">
      <img class="img-fluid" src="../../assets/americas.png">
    </div>
  </div>
  <div class="row align-items-center text-center mt-5">
    <div class="col">
      <div class="display-1">Ocenia</div>
    </div>
    <div class="col">
      <img class="img-fluid" src="../../assets/oceniaa.png">
    </div>
  </div>
</div>