<div class="container">
      <!-- <div class="row">
        <div class="col">
          <div class="display-4">All Regions</div>
        </div>
      </div> -->

      <div class="row mt-5">
        <div class="col-4 americas-col">
            <img class="img-fluid americas-img" src="../../assets/americas.png">
            <span class="americas-text">Americas</span>
        </div>
        <div class="col-8">
          <div class="row">
            <div class="col-4 europe-col">
                <img class="img-fluid europe-img" src="../../assets/europe.png">
                <span class="europe-text">Europe</span>
            </div>
            <div class="col-8 asia-col">
                <img class="img-fluid asia-img" src="../../assets/asia.png">
                <div class="asia-text">Asia</div>
                <div class="asia-des">
                  
                </div>
            </div>
          </div>
          <div class="row">
              <div class="col-8 africa-col">
                  <img class="img-fluid africa-img" src="../../assets/africa.png">
                  <span class="africs-text">Africa</span>
              </div>
              <div class="col-4 oceania-col">
                  <img class="img-fluid oceania-img" src="../../assets/oceniaa.png">
                  <span class="oceania-text">Oceania</span>
              </div>
            </div>
        </div>
      </div>

    <div class="row align-items-center text-center mt-5">
      <div class="col">
          <div class="display-1">Asia</div>
      </div>
      <div class="col">
        <img class="img-fluid" src="../../assets/asia.png">
      </div>
    </div>
    <div class="row align-items-center text-center mt-5">
        <div class="col">
            <div class="display-1">Africa</div>
        </div>
        <div class="col">
          <img class="img-fluid" src="../../assets/africa.png">
        </div>
      </div>
      <div class="row align-items-center text-center mt-5">
          <div class="col">
              <div class="display-1">Europe</div>
          </div>
          <div class="col">
            <img class="img-fluid" src="../../assets/europe.png">
          </div>
        </div>
        <div class="row align-items-center text-center mt-5">
            <div class="col">
                <div class="display-1">Americas</div>
            </div>
            <div class="col">
              <img class="img-fluid" src="../../assets/americas.png">
            </div>
          </div>
          <div class="row align-items-center text-center mt-5">
              <div class="col">
                  <div class="display-1">Ocenia</div>
              </div>
              <div class="col">
                <img class="img-fluid" src="../../assets/oceniaa.png">
              </div>
            </div>
  </div>